body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
}

header {
    width: 100%;
    height: 7.5vh;
}

.logo {
    width: 120px;
    height: 48px;
    margin: 20px 0 0 0px;
}

main {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
}

.texto-a-resolver, .texto-resuelto {
    display: inline-block;
    height: 100%;
}

.texto-a-resolver {
    width: 65%;
}

.textoEncrip {
    width: 80%;
    height: 85%;
    margin: 0 10%;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background: #F3F5FC;
    &:focus {
        outline: none;
    }
}

.textDown {
    height: 15%;
}

.text-info {
    color: #495057;
    width: 100%;
    height: 25%;
    opacity: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
}

.text-info> p {
    padding: 0 0 0 4px;
}

.botones {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-resuelto {
    width: 35%;
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px #00000014;
    word-wrap: break-word;
}

.mostrar {
    width: 95%;
    height: 85%;
    margin: 0 auto;
}

.textToShow {
    width: 100%;
    height: 100%;
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
    overflow-y: scroll;
    scrollbar-width: none;
    text-wrap: balance;
}

.withoutMessage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separacioncopiar {
    width: 95%;
    height: 15%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 7.5vh;
    text-align: center;
}

footer>p:first-child {
    padding: 1.5em 0 0 0;
}

.btn {
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 20px;
}

.cifrar {
    background: #0A3871;
    color: #FFFFFF;
}

.descifrar {
    color: #0A3871;
    border: 1px solid #0A3871;
}

.copiar {
    width: 90%;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.muñeco {
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
}

.messageNotFound {
    width: 336px;
    text-align: center;
    letter-spacing: 0em;
}

.messageNotFound:first-child {
    height: 58px;
    color: #343A40;
    font-size: 24px;
    line-height: 29px;
}

.p {
    font-weight: bold;
}

.messageNotFound:last-child {
    height: 48px;
    color: #495057;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.hidden {
    display: none;
}

@media screen and (max-width:1070px) {
    main {
        height: 1200px;
        flex-direction: column;
        align-items: center;
    }

    .muñeco {
        display: none;
    }

    .texto-a-resolver {
        height: 600px;
        width: 90%;
        padding: 25px;
    }

    .textoEncrip {
        height: 500px;
    }

    .texto-resuelto {
        margin-top: 30px;
        height: 600px;
        width: 90%;
    }

    .mostrar {
        height: 500px;
    }

    .separacioncopiar {
        width: 100%;
        height: 100px;
    }

    .copiar {
        width: 70%;
        height: 50px;
        padding: 0;
        margin: 15px 15%;
    }

    footer {
        margin: 100px 0 60px 0;
        height: 100px;
    }
}

@media screen and (max-width:375px) {
    .botones {
        height: 100px;
        flex-direction: column;
        align-items: center;
    }

    .separacioncopiar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn {
        width: 70%;
        height: 50px;
        padding: 0;
        margin: 5px;
    }

    .texto-resuelto {
        width: 98%;
    }
}